.makeAbsoluteFullDiv {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
@font-face {
  font-family: 'SolaimanLipi';
  src: url('../fonts/solaimanlipi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Hind Siliguri';
  src: url('../fonts/HindSiliguri-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.bn div,
.bn span,
.bn p,
.bn input::placeholder,
.bn button,
.bn a {
  font-family: 'SolaimanLipi', sans-serif;
}
.bn h2 {
  font-family: "Hind Siliguri", sans-serif;
  margin-top: -8px;
}
.btn_mobile_upload,
.btn_mobile_upload_close,
.btn_mobile_preview,
.dz-size {
  display: none;
}
.dz_preview_container {
  margin-top: 10px;
}
.dz_custom_preview_box {
  display: none;
}
.dz_custom_preview {
  display: flex;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  align-items: center;
  color: #333;
  margin-bottom: 3px;
  background: white;
  padding: 5px 10px;
  font-size: 13px;
}
.dz_custom_preview .image {
  min-width: 50px;
  max-width: 50px;
  max-height: 50px;
  overflow: hidden;
  margin-right: 10px;
}
.dz_custom_preview .image img {
  width: 100%;
  height: 100%;
}
.dz_custom_preview .info {
  margin-right: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-grow: 1;
}
.dz_custom_preview .info .dz-filename {
  max-height: 35px;
}
.dz_custom_preview .info .dz-progress {
  background: #ddd;
  height: 3px;
  margin-top: 5px;
}
.dz_custom_preview .info .dz-progress span.dz-upload {
  background: orange;
  height: 3px;
  display: block;
  width: 0;
}
.btn {
  border: none;
  padding: 2px 8px;
  border-radius: 4px;
  margin: 0 2px;
  height: 30px;
  cursor: pointer;
  line-height: 30px;
}
.success {
  background: #2ecc71;
  color: #fff;
}
.primary {
  background: #3F51B5;
  color: white;
}
.danger {
  background: #e74c3c;
  color: #fff;
}
.warning {
  background: orange;
  color: #fff;
}
.active {
  background: linen;
}
button {
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  margin: 0 2px;
  height: 30px;
  cursor: pointer;
}
button:focus {
  outline: none;
  border: 1px solid #333;
}
header {
  min-height: 65px;
  max-height: 65px;
  background: #1BA8F3;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
header .right {
  display: flex;
  align-items: center;
}
header .right .btn_bulk_actions {
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  margin: 0 2px;
  height: 30px;
  cursor: pointer;
}
header .right input {
  border: none;
  padding: 5px 10px;
  border-radius: 2px;
  min-height: 30px;
}
header .right a.btn-doc {
  border: none;
  padding: 0 8px;
  border-radius: 2px;
  max-height: 30px;
  cursor: pointer;
  text-decoration: none;
  color: #333;
  background: #fff;
  display: block;
  line-height: 30px;
  margin-left: 5px;
}
header .right .search_box {
  position: relative;
}
header .right .search_box input:focus {
  outline: none;
}
header .right .searching {
  position: absolute;
  right: 0;
  top: 0;
  background: #f0f0f0;
  color: white;
  width: 35px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #ddd;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  z-index: 2;
}
header .right .clear_search {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  right: 0;
  top: 0;
  background: #333;
  color: white;
  width: 35px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #ddd;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.wrapper {
  display: flex;
}
.wrapper .sidebar {
  padding: 20px;
  width: 20%;
  background: #FAFAFA;
  min-height: calc(100vh - 65px);
  max-height: calc(100vh - 65px);
  padding-top: 0;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}
.wrapper .sidebar::-webkit-scrollbar {
  width: 2px;
}
.wrapper .sidebar .upload_section .upload_title {
  padding: 10px;
  background: #f5f5f5;
  font-weight: 700;
  color: #555;
}
.wrapper .sidebar .upload_section .upload_area {
  border: 2px dotted #e4e4e4;
  background: white;
  min-height: 60px;
  max-height: 80px;
  text-align: center;
  color: #c5c2c2;
}
.wrapper .sidebar .upload_section .upload_area .dz-default {
  max-height: 70px;
  margin: 0;
  line-height: 20px;
}
.wrapper .sidebar .preview_section .preview_header {
  display: flex;
  justify-content: space-between;
  background: #f5f5f5;
  padding: 10px;
  font-weight: 700;
  color: #555;
}
.wrapper .sidebar .preview_section .image_wrapper {
  margin-top: 20px;
  width: 100%;
  overflow: hidden;
}
.wrapper .sidebar .preview_section .image_wrapper img {
  width: 100%;
}
.wrapper .sidebar .preview_section .info {
  margin-top: 10px;
}
.wrapper .sidebar .preview_section .info h2 {
  font-size: 18px;
}
.wrapper .sidebar .preview_section .info p {
  font-size: 13px;
}
.wrapper .content {
  width: 80%;
  position: relative;
}
.wrapper .content .load_more {
  min-height: 25px;
  background: #ddd;
  text-align: center;
  padding: 5px;
}
.wrapper .content .content_footer {
  min-height: 40px;
  position: absolute;
  background: #FAFAFA;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .content .content_footer .left {
  margin-left: 20px;
  font-size: 14px;
  color: #444;
}
.wrapper .content .content_footer .right {
  margin-right: 20px;
}
.wrapper .content .content_footer .right button {
  min-width: 100px;
  background: #4CAF50;
  color: #fff;
}
.wrapper .gallery {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 105px);
  overflow-y: auto;
}
.wrapper .gallery::-webkit-scrollbar {
  width: 2px;
}
.wrapper .gallery .gl_header {
  background: #F5F5F5;
  font-weight: 700;
  position: sticky;
  top: 0;
  z-index: 1;
}
.wrapper .gallery .gl_item {
  display: flex;
  margin: 5px 0;
  min-height: 40px;
  line-height: 40px;
  padding: 0 20px;
  font-size: 15px;
  color: #555;
}
.wrapper .gallery .gl_item:first-child {
  margin-top: 0;
}
.wrapper .gallery .gl_item:hover {
  background: #fafafa;
}
.wrapper .gallery .gl_item .name {
  width: 40%;
  display: flex;
  align-items: center;
}
.wrapper .gallery .gl_item .name input[type="checkbox"] {
  margin-right: 8px;
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5);
  /* IE */
  -moz-transform: scale(1.5);
  /* FF */
  -webkit-transform: scale(1.5);
  /* Safari and Chrome */
  -o-transform: scale(1.5);
  /* Opera */
  padding: 4px;
}
.wrapper .gallery .gl_item .name .thum {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.wrapper .gallery .gl_item .name .thum img {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
.wrapper .gallery .gl_item .name .thum p {
  margin-left: 3px;
  margin-top: 4px;
}
.wrapper .gallery .gl_item .name p {
  width: 100%;
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrapper .gallery .gl_item .size {
  width: 10%;
}
.wrapper .gallery .gl_item .type {
  width: 10%;
}
.wrapper .gallery .gl_item .modified {
  width: 20%;
}
.wrapper .gallery .gl_item .action {
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.wrapper .gallery .gl_item .action button {
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  margin: 0 2px;
  height: 30px;
  cursor: pointer;
}
.wrapper .gallery .gl_item .action button:last-child {
  margin-right: 0;
}
.wrapper .gallery .gl_item .action .select {
  background: #2ecc71;
  color: #fff;
}
.wrapper .gallery .gl_item .action .delete {
  background: #e74c3c;
  color: #fff;
}
.wrapper .gallery .gl_item {
  display: flex;
}
button:disabled {
  opacity: 0.6;
  cursor: not-allowed !important;
}
.popup {
  width: 50%;
  background: #fff;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 20%;
  z-index: 200;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.popup .header {
  display: flex;
  background: whitesmoke;
  justify-content: space-between;
  height: 35px;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
.popup .header .title {
  margin-left: 15px;
  font-weight: 700;
}
.popup .header .close {
  width: 30px;
  background: #333;
  color: #fff;
  text-align: center;
  line-height: 35px;
  border-bottom: 1px solid #333;
  cursor: pointer;
}
.popup .content {
  min-height: 100px;
  width: 100%;
  padding: 15px;
}
.popup .content .form-group {
  margin-bottom: 10px;
}
.popup .content label {
  display: block;
  color: #777;
}
.popup .content input {
  border: 0;
  padding: 5px;
  border: 1px solid #ddd;
  width: 100%;
  margin-top: 5px;
}
.popup .content input:focus {
  outline: none;
  border-bottom: 1px solid #666;
}
.popup .footer {
  padding: 0 15px;
  display: flex;
  background: whitesmoke;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  border-top: 1px solid #ddd;
}
@media only screen and (max-width: 780px) {
  .btn_mobile_upload,
  .btn_mobile_preview {
    display: block;
  }
  .btn_desktop_preview,
  .upload_section {
    display: none;
  }
  .btn_mobile_upload_close {
    display: block;
    float: right;
    margin-top: 4px;
    margin-right: 3px;
  }
  body {
    height: 100vh;
    overflow: hidden;
  }
  header {
    flex-direction: column;
    max-height: 100px !important;
    padding: 10px 15px;
  }
  header .right {
    margin-top: 10px;
  }
  header .right .btn_bulk_actions,
  header .right .btn-doc {
    font-size: 12px;
  }
  .wrapper {
    flex-direction: column;
  }
  .wrapper .sidebar,
  .wrapper .content {
    width: 100%;
  }
  .wrapper .sidebar {
    height: auto;
    min-height: 1px !important;
    padding-left: 15px;
  }
  .wrapper .sidebar .btn_mobile_upload {
    margin-top: 10px;
  }
  .wrapper .sidebar .preview_section {
    display: none;
  }
  .wrapper .content {
    position: inherit;
    max-height: calc(100vh - 150px);
  }
  .wrapper .content .gallery {
    max-height: calc(100vh - 150px);
  }
  .wrapper .content .gallery .gl_item .size,
  .wrapper .content .gallery .gl_item .type,
  .wrapper .content .gallery .gl_item .modified {
    display: none;
  }
  .wrapper .content .gallery .gl_item .name,
  .wrapper .content .gallery .gl_item .action {
    width: 50%;
  }
  .mobile_upload {
    position: absolute;
    overflow: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100vh;
    z-index: 101;
    background: #fff;
    padding: 20px;
  }
  .mobile_upload .btn_mobile_upload_close {
    position: absolute;
    right: 18px;
    top: 15px;
  }
  .mobile_upload .upload_area {
    margin-top: 20px;
    overflow: auto;
    min-height: 50px;
  }
  .mobile_upload .upload_area .dz-default {
    margin: 0;
  }
  .mobile_upload .mobile_preview_container {
    background: #f4f4f4;
    margin-top: 20px;
    padding: 10px;
  }
  .mobile_preview {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 15px;
    z-index: 100;
    height: 100vh;
  }
  .mobile_preview .preview_section {
    overflow-y: auto;
    height: 95vh;
  }
  .mobile_preview .preview_section .preview_header {
    display: flex;
    justify-content: space-between;
    background: #f5f5f5;
    padding: 10px;
    font-weight: 700;
    color: #555;
  }
  .mobile_preview .preview_section .image_wrapper {
    margin-top: 20px;
    width: 100%;
  }
  .mobile_preview .preview_section .image_wrapper img {
    width: 100%;
  }
  .mobile_preview .preview_section .info {
    margin-top: 10px;
  }
  .mobile_preview .preview_section .info h2 {
    font-size: 18px;
  }
  .mobile_preview .preview_section .info p {
    font-size: 13px;
  }
}
/*# sourceMappingURL=style.css.map */